/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
/* Start */
*,
*::after,
*::before{
    box-sizing: border-box ;
}

*{
    transition: ease all 0.5s;
    box-sizing: border-box !important;
}
/* HTML */
html{
    scroll-behavior: smooth;
    overflow-y: auto;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* Ul,Li,Ol */
ul,
li,
ol{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/* Body */
body{
    color: #666666;
    font-size: 14px;
    line-height: 1.8;
    font-weight: normal;
    overflow-y: auto;
    font-family: Poppins;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
/* a */
a{
    color: #1f1f1f;
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out
}

a {
    color: #222222;
    text-decoration: none;
    outline: none !important;
}
/* h1,h2,h3,h4,h5,h6 */
h1,
h2,
h3,
h4,
h5,
h6{
    letter-spacing: 0;
    font-weight: normal;
    position: relative;
    padding: 0 0 10px 0;
    font-weight: normal;
    line-height: normal;
    color: #111111;
    margin: 0;
}

h1{
    font-size: 24px
}

h2{
    font-size: 22px
}

h3{
    font-size: 18px
}

h4{
    font-size: 16px
}

h5{
    font-size: 14px
}

h6{
    font-size: 13px
}
/* h1,h2,h3,h4,h5,h6 & a */
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a{
    opacity: 1;
    text-decoration: none !important;
    color: #212121;
}
/* Img */
img{
    max-width: 100%;
    height: auto;
}
/* button:focus */
button:focus{
    outline: none;
}
/* P */
p{
    margin: 20px;
    font-weight: 300;
    font-size: 15px;
    line-height: 24px;
}
/* a & .btn */
a,
.btn{
    text-decoration: none !important;
    outline: none !important;
    transition: all .3s ease-in-out;
}
/* :focus */
:focus{
    outline: 0;
}
/* .paddind_bottom_0 */
.paddind_bottom_0 {
    padding-bottom: 0 !important;
}
/* .btn-custom  */
.btn-custom{
    margin-top: 20px;
    background-color: transparent !important;
    border: 2px solid #ddd;
    padding: 12px 40px;
    font-size: 16px;
}
/* Lead */
.lead{
    color: #767676;
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
}
/* .navbar-form & input */
.navbar-form input {
    border: none !important;
}
/* .badge */
.badge{
    font-weight: 500;
}
/* .Full */
.full{
    float: left;
    width: 100%;
}
/* Button */
button {
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}
/* .layout_padding */
.layout_padding {
    padding-top: 90px;
    padding-bottom: 0px;
}
/* .header_section */
.header_section {
    width: 100%;
    float: left;
    background-image: url(banner-bg.png);
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}
/* .Logo */
.logo{
    width: 54%;
    float: left;
    padding: 20px;
}
/* .header_main */
.header_main {
    width: 100%;
    display: flex;
    padding: 0px 30px;
}
/* .search_icon */
.search_icon {
    text-align: right;
    float: right;
    width: 54%;
    padding-top: 20px;
}
/* .number_text */
.number_text{
    width: 90px;
    float: left;
    color: #13100e;
    background-color: #faca16;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 10px 0px;
}
/* .toggle_memu */
.toggle_memu{
    background-color: #111;
    text-align: center;
    padding: 0px 0px;
    width: 45px;
}
/* .menu_main */
.menu_main{
    width: 100%;
    margin-top: 200px;
    font-size: 16px;
    color: #ffffff;
    padding-left: 10px;
    float: left;
}
/* .menu_main & a */
.menu_main a{
    color: #ffffff;
}
/* .menu_main & a:hover */
.menu_main a:hover{
    color: #ffffff;
}
/* .togle_main */
.togle_main{
    padding-left: 20px;
    float: left;
    width: 100%;
}
/* .sidebar */
.sidebar{
    height: 100%;
    width: 0;
    position: fixed;
    top: 50px;
    left: 0;
    background-color: #f9ca16;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 1;	
    overflow-x: hidden;
}
/* .sidebar & a */
.sidebar a{
    padding: 8px 8px 8px 32px;
    color: #000000;
    font-size: 25px;
    text-decoration: none;
    display: block;
    transition: 0.3s;
}
/* .sidebar & a:hover */
.sidebar a:hover {
    color: #f1f1f1;
}
/* .sidebar & .closebtn */
.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* blockquote */
blockquote {
    margin: 20px 0 20px;
    padding: 30px;
}
/* .form-control:focus */
.form-control:focus {
    border-color: #ffffff !important;
    box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}
/* .openbtn */
.openbtn{
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
/* .openbtn:hover */
.openbtn:hover{
    background-color: #444;
}
/* #main */
#main{
    transition: margin-left .5s;
}
/* .togle_main */
.togle_main {
    padding-left: 20px;
    width: 100%;
    float: left;
}
/* .banner_section */
.banner_section {
    width: 100%;
    float: left;
    padding-bottom: 150px;
}
/* .banner_taital */
.banner_taital {
    width: 100%;
    float: left;
    font-size: 66px;
    color: #fdfcfc;
    font-weight: bold;
    padding-top: 30px;
}
/* .lorem_text */
.lorem_text {
    width: 100%;
    float: left;
    font-size: 16px;
    color: #fdfcfc;
    margin-left: 0px;
    margin-top: 0px;
}
/* .buy_bt */
.buy_bt{
    width: 210px;
    margin: 0 auto;
    text-align: center;
}
/* .buy_bt & a */
.buy_bt a{
    width: 100%;
    float: left;
    text-align: center;
    background-color: #f9ca16;
    padding-top: 40px;
    padding: 4px 0px;
    color: #070402;
    font-size: 22px;
    font-weight: bold;
}
/* .buy_bt & a:hover */
.buy_bt a:hover{
    color: #070402;
    background-color: #ffffff;
}
/* .image_1 */
.image_1{
    width: 100%;
    float: left;
}
/* .about_section */
.about_section{
    width: 100%;
    float: left;
}
/* .about_taital */
.about_taital{
    width: 100%;
    float: left;
    color: #070402;
    font-size: 40px;
    padding-top: 50px;
    padding-left: 20px;
}
/* .about_taital::after */
.about_taital::after{
    background-color: #f9ca16;
    position: absolute;
    margin: 0 auto;
    content: '';
    left: 0px;
    right: inherit;
    width: 10px;
    height: 50px;
    margin-top: 8px;
}
/* .carousel-indicators & li */
.carousel-indicators li{
    width: 20px;
    height: 20px;
    background-color: transparent !important;
    border-radius: 100px;
    border: 4px solid #f8bc1a;
}
/* .carousel-indicators */
.carousel-indicators{
    bottom: -70px;
}
/* .carousel-indicators & .active */
.carousel-indicators .active{
    background-color: transparent !important;
    border: 4px solid #ffffff;
}
/* .about_text */
.about_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #070402;
    margin-left: 0px;
}
/* .read_bt */
.read_bt{
    width: 170px;
    float: left;
    margin-top: 40px;
}
/* .read_bt & a */
.read_bt a{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #ffffff;
    background-color: #13110f;
    text-align: center;
    padding: 8px 0px;
}
/* .read_bt & a:hover */
.read_bt a:hover{
    color: #070402;
    background-color: #f9ca16;
}
/* .gallery_section */
.gallery_section{
    width: 100%;
    float: left;
    background-color: #000;
    height: auto;
    padding: 30px 0px 50px 0px;
}
/* .gallery_taital */
.gallery_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
    text-align: center;
}
/* .gallery_text */
 .gallery_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin-left: 0px;
    margin-top: 0px;
    text-align: center;
}
/* .gallery_section_2 */
.gallery_section_2{
    width: 100%;
    float: left;
}
/* .price_text */
.price_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
}
/* .shoes_text */
.shoes_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #afafaf;
    text-align: center;
}
/* .boy_bt_1 */
.boy_bt_1{
    width: 150px;
    margin: 0 auto;
    text-align: center;
}
/* .boy_bt_1 & a */
.boy_bt_1 a{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #13110f;
    background-color: #ffffff;
    text-align: center;
    padding: 7px 0px;
}
/* .boy_bt_1 & a:hover */
.boy_bt_1 a:hover{
    color: #ffffff;
    background-color: #f9ca16;
}
/* .news_section */
.news_section{
    width: 100%;
    float: left;
}
/* .shoes_taital_1 */
.shoes_taital_1{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #151515;
    font-weight: bold;
    padding-top: 20px;
}
/* .ipsum_text */
.ipsum_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #13110f;
    margin-top: 0px;
    margin-left: 0px;
}
/* .news_text */
.news_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #13110f;
    text-align: center;
    margin: 0px;
}
/* .news_taital */
.news_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #151515;
    text-align: center;
}
/* .news_section_2 */
.news_section_2{
    width: 100%;
    float: left;
}
/* .image_6 */
.image_6{
    width: 100%;
    float: left;
    text-align: center;
    min-height: 232px;
    padding-top: 47px;
}
/* .image_7 */
.image_7{
    width: 100%;
    float: left;
    padding-top: 47px;
}
/* .client_section */
.client_section{
    width: 100%;
    float: left;
}
/* .client_taital */
.client_taital{
    width: 100%;
    float: left;
    font-size: 45px;
    color: #151515;
    padding-top: 20px;
    text-align: center;
}
/* .client_text */
.client_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #151515;
    margin-left: 0px;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 70px;
}
/* .client_section_2 */
.client_section_2{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    background-color: #151515;
    height: auto;
    display: flex;
    padding: 40px;
}
/* .client_main */
.client_main{
    width: 100%;
    float: left;
}
/* .client_left */
.client_left{
    width: 20%;
    float: left;
}
/* .client_right */
.client_right{
    width: 80%;
    float: left;
    text-align: left;
}
/* .client_img */
.client_img{
    width: 100%;
    float: left;
    text-align: left;
}
/* .sandy_text */
.sandy_text{
    width: 100%;
    float: left;
    font-size: 30px;
    color: #ffffff;
}
/* .long_text */
.long_text{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #f9ca16;
    margin: 0px;
}
/* .dummy_text */
.dummy_text{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #ffffff;
    margin: 0px;
    text-align: left;
    padding-top: 30px;
}
/* ChatGPT Help */
#main_slider .carousel-control-prev:hover,
#main_slider .carousel-control-next:hover,
#main_slider .carousel-control-prev:focus,
#main_slider .carousel-control-next:focus{
    background: #ecebeb;
    color: #fff;
}
#main_slider a.carousel-control-prev{
    position: absolute;
    left: 150px;
    top: 62%;
    background-color: #ecebeb;
}
#main_slider .carousel-control-prev,
#main_slider .carousel-control-next{
    width: 65px;
    height: 65px;
    background: #ecebeb;
    opacity: 1;
    font-size: 30px;
    color: #000;
}
#main_slider a.carousel-control-next{
    position: absolute;
    right: 150px;
    top: 62%;
}
/* ChatGPT Help */

/* .contact_section */
.contact_section{
    width: 100%;
    float: left;
    background-color: #151515;
    height: auto;
    padding: 40px 0px;
    margin-top: 90px;
}
/* .touch_taital */
.touch_taital{
    width: 100%;
    float: left;
    font-size: 40px;
    color: #ffffff;
}
/* .contact_section_2 */
.contact_section_2{
    width: 100%;
    float: left;
}
/* .email_text */
.email_text{
    width: 100%;
    float: left;
    padding: 20px 20px 20px 0px;
}
/* .email-bt */
.email-bt{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #151515;
    margin-bottom: 20px;
    padding: 8px 15px;
    border: 1px solid #909090;
}
/* input.email-bt::placeholder */
input.email-bt::placeholder{
    color: #151515;
}
/* .massage-bt */
.massage-bt{
    width: 100%;
    float: left;
    font-size: 18px;
    color: #151515;
    margin-bottom: 20px;
    padding: 40px 15px 8px 15px;
    border: 1px solid #909090;
    height: 120px;
}
/* textarea#comment::placeholder */
textarea#comment::placeholder{
    color: #151515;
}
/* .send_btn */
.send_btn{
    width: 170px;
    float: left;
}
/* .send_btn & a */
.send_btn a{
    width: 100%;
    float: left;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    background-color: #f8bc1a;
    padding: 10px;
}
/* .send_btn & a:hover */
.send_btn a:hover{
    color: #151515;
    background-color: #ffffff;
}
/* .newsletter_text */
.newsletter_text{
    width: 100%;
    float: left;
    color: #151515;
    font-size: 40px;
    font-weight: bold;
}
/* .mail_text */
.mail_text{
    width: 100%;
    float: left;
    color: #151515;
    font-size: 16px;
    background-color: #ffffff;
    padding: 10px 25px;
    border: 0px;
    height: auto;
    border-radius: 50px;
    text-transform: uppercase;
}
/* input.mail_text::placeholder */
input.mail_text::placeholder{
    color: #151515;
}
/* .subscribe_bt */
.subscribe_bt{
    width: 200px;
    float: right;
    color: #fdfbfb;
    font-size: 16px;
    background-color: #151515;
    padding: 10px 15px;
    text-align: center;
    border-radius: 50px;
    margin-top: 20px;
}
/* .subscribe_bt & a */
.subscribe_bt a{
    color: #fdfbfb;
}
/* .social_icon */
.social_icon{
    width: 45%;
    float: right;
}
/* .social_icon & ul */
.social_icon ul{
    margin: 0px;
    padding: 0px;
}
/* .social_icon & li */
.social_icon li{
    float: left;
    padding-left: 10px;
    padding-top: 20px;
}
/* .footer_section */
.footer_section{
    width: 100%;
    float: left;
    background-color: #111111;
    height: auto;
    padding: 50px 0px 40px 0px;
}
/* .link_text */
.link_text{
    width: 100%;
    float: left;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    text-transform: uppercase;
}
/* .footer_text */
.footer_text{
    width: 50%;
    float: left;
    font-size: 16px;
    color: #727272;
    margin-left: 0px;
    margin-top: 0px;
}
/* .footer_text_1 */
.footer_text_1{
    width: 100%;
    float: left;
    font-size: 16px;
    color: #727272;
    margin-left: 0px;
    margin: 10px 0px 0px 0px;
}
/* .padding_left_10 */
.padding_left_10{
    padding-left: 10px;
}
/* .copyright_section */
.copyright_section{
    width: 100%;
    float: left;
    background-color: #111111;
    height: auto;
}
/* .copyright_text */
.copyright_text{
    width: 100%;
    float: left;
    color: #555454;
    text-align: center;
    font-size: 16px;
    margin-left: 0px;
}
/* .copyright_text & a */
.copyright_text a{
    color: #555454;
}
/* .copyright_text & a:hover */
.copyright_text a:hover{
    color: #ffffff;
}
/* .margin_90 */
.margin_90{
    margin: 90px 0px;
}
/* .margin_top_90 */
.margin_top_90{
    margin-top: 90px;
}
/* .carousel-inner */
.carousel-inner{
    display: flex;
}
/* .carousel-inner & .carousel-item */
.carousel-inner .carousel-item{
    flex: 1 0 100%;
}